@model PersonasPerdidas.Models.Rol

@{
    ViewBag.Title = "Delete";
}

    <CENTER>
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-weight: bold;font-family:'Californian'">Borrar rol</h2>
        <hr />
        <h4>Rol</h4>
        <hr />

        <h3>Estas seguro de que quieres borrarlo?</h3>
        <div>

            <hr />
          
              

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-default" /> |
                    <button type="button" class="btn btn-light">
                        @Html.ActionLink("Volver a la lista de roles", "Index", "Rols", new { rol = ViewBag.Rol, Usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)
                    </button>
                        </div>
            }
        </div>

</CENTER>