<!-- bootstrap v3.3.7 css -->
@*<link href="~/Content/archirio/assets/css/bootstrap.min.css" rel="stylesheet" />*@
<!-- animate css -->
<link href="~/Content/archirio/assets/css/animate.css" rel="stylesheet" />
<!-- owl.carousel.2.0.0-beta.2.4 css -->
<link href="~/Content/archirio/assets/css/owl.carousel.css" rel="stylesheet" />
<!-- font-awesome v4.6.3 css -->
<link href="~/Content/archirio/assets/css/font-awesome.min.css" rel="stylesheet" />
<!-- flaticon.css -->
<link rel="stylesheet" href="assets/css/flaticon.css">
<!-- magnific-popup.css -->
<link href="~/Content/archirio/assets/css/magnific-popup.css" rel="stylesheet" />
<!-- slicknav.min.css -->
<link href="~/Content/archirio/assets/css/slicknav.min.css" rel="stylesheet" />
<!-- slicknav.min.css -->
<link href="~/Content/archirio/assets/css/slick.css" rel="stylesheet" />
<!-- style css -->
<link href="~/Content/archirio/assets/css/styles.css" rel="stylesheet" />
<!-- responsive css -->
<link href="~/Content/archirio/assets/css/responsive.css" rel="stylesheet" />
<!--animate css-->
<link href="~/Content/animate.css" rel="stylesheet" />
<!--index-->
<link href="~/Content/MiHojaDeEstilo.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet" />
<!-- modernizr css -->
<script src="~/Content/archirio/assets/js/vendor/modernizr-2.8.3.min.js"></script>


<!-- breadcumb-area end -->
<br />
<br />
<br />
<CENTER> <h1>CONTACTANOS</h1> </CENTER>
<!-- contact-area start -->
<div class="contact-area pt-120">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="contact-form">
                    <div class="cf-msg"></div>
                    <form action="mail.php" method="post" id="cf">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <input type="text" placeholder="Nombre" id="fname" name="fname">
                            </div>
                            <div class="col-md-6 col-12">
                                <input type="text" placeholder="Email" id="email" name="email">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Subject" id="subject" name="subject">
                            </div>
                            <div class="col-12">
                                <textarea class="contact-textarea" placeholder="Mensaje" id="msg" name="msg"></textarea>
                            </div>
                            <div class="col-12">
                                <button id="submit" class="cont-submit btn-contact btn-style" name="submit">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-wrap">
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i> Numero de telefono
                            <p>
                                <span>+ 809-305-9286</span>
                                <span>+ 829-296-6137</span>
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> Email
                            <p>
                                <span>belkisvasquez@outlook.es</span>
                                <span>20186497@itla.edu.do</span>
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-location-arrow"></i> Localizacion
                            <p>
                                <span>Instituto Tecnologico de las Americas (ITLA)</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="googleMap"></div>
</div>
<div id="particles-js">

</div>

<script src="~/Content/app.js"></script>
<script src="~/Content/particles.js"></script>
<script src="particles.js"></script>
<script src="app.js"></script>


<script src="particles.js"></script>
<script src="~/Content/particles.js"></script>
<script src="app.js"></script>
<script src="~/Content/app.js"></script>
<!-- jquery latest version -->
<script src="~/Content/archirio/assets/js/vendor/jquery-2.2.4.min.js"></script>

<!-- popper.min.js -->
<script src="~/Content/archirio/assets/js/vendor/popper.min.js"></script>

<!-- bootstrap js -->
<script src="~/Content/archirio/assets/js/bootstrap.min.js"></script>

<!-- owl.carousel.2.0.0-beta.2.4 css -->
<script src="~/Content/archirio/assets/js/owl.carousel.min.js"></script>

<!-- slick.min.js -->
<script src="~/Content/archirio/assets/js/slick.min.js"></script>

<!-- plugins js -->
<script src="~/Content/archirio/assets/js/plugins.js"></script>

<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbeBYsZSDkbIyfUkoIw1Rt38eRQOQQU0o"></script>
<script>
    function initialize() {
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: new google.maps.LatLng(40.712764, -74.005667),
            styles: [{
                "elementType": "geometry",
                "stylers": [{
                    "color": "#f5f5f5"
                }]
            },
            {
                "elementType": "labels.icon",
                "stylers": [{
                    "visibility": "off"
                }]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#616161"
                }]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [{
                    "color": "#f5f5f5"
                }]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#bdbdbd"
                }]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#eeeeee"
                }]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#757575"
                }]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#e5e5e5"
                }]
            },
            {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#9e9e9e"
                }]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#ffffff"
                }]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#757575"
                }]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#dadada"
                }]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#616161"
                }]
            },
            {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#9e9e9e"
                }]
            },
            {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#e5e5e5"
                }]
            },
            {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#eeeeee"
                }]
            },
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#c9c9c9"
                }]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#9e9e9e"
                }]
            }
            ]
        };

        var map = new google.maps.Map(document.getElementById('googleMap'),
            mapOptions);


        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            map: map
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!-- main js -->
<script src="assets/js/scripts.js"></script>
    </body>

    </html>
