@{
    ViewBag.Title = "Home Page";
}

<!-- bootstrap v3.3.7 css -->
@*<link href="~/Content/archirio/assets/css/bootstrap.min.css" rel="stylesheet" />*@
<!-- animate css -->
<link href="~/Content/archirio/assets/css/animate.css" rel="stylesheet" />
<!-- owl.carousel.2.0.0-beta.2.4 css -->
<link href="~/Content/archirio/assets/css/owl.carousel.css" rel="stylesheet" />
<!-- font-awesome v4.6.3 css -->
<link href="~/Content/archirio/assets/css/font-awesome.min.css" rel="stylesheet" />
<!-- flaticon.css -->
<link rel="stylesheet" href="assets/css/flaticon.css">
<!-- magnific-popup.css -->
<link href="~/Content/archirio/assets/css/magnific-popup.css" rel="stylesheet" />
<!-- slicknav.min.css -->
<link href="~/Content/archirio/assets/css/slicknav.min.css" rel="stylesheet" />
<!-- slicknav.min.css -->
<link href="~/Content/archirio/assets/css/slick.css" rel="stylesheet" />
<!-- style css -->
<link href="~/Content/archirio/assets/css/styles.css" rel="stylesheet" />
<!-- responsive css -->
<link href="~/Content/archirio/assets/css/responsive.css" rel="stylesheet" />
<!--animate css-->
<link href="~/Content/animate.css" rel="stylesheet" />
<!-- modernizr css -->
<script src="~/Content/archirio/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<body>

    <!-- ablout-area start -->
    <div class="about-area about-area2 ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 d-none d-sm-block">
                    <div class="about-img2">
                        <!--imagen aqui-->
                        <img src="~/Content/imagen/27ac615b-b6ab-48fa-866f-7bf2eaec1d05.jpeg" />
                        @*<img src="~/Content/archirio/assets/images/about/2.jpg" alt=""/>*@

                        <div class="about-images">
                            <!--imagen aqui-->
                            <img src="~/Content/imagen/27ac615b-b6ab-48fa-866f-7bf2eaec1d05.jpeg" />

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-wrap">
                        <center>
                            <h2 class="animated swing">Vecindario Seguro</h2>
                        </center>
                        <hr />
                        <h3 class="animated bounceInRight">Los mejores en reconocimiento facial</h3>

                        <p class="animated bounceInRight">Nuestra aplicacion realiza análisis faciales de alta precisión y capacidades de búsqueda facial que utilizamos para detectar, analizar y comparar rostros para crear un reporte exitoso</p>

                    </div>
                </div>


                </br></br></br> </br></br></br> </br></br></br> </br></br></br>
                <!-- ablout-area end -->
                <div class="about-area3 ptb-120">
                    <div class="container">

                        <div class="row ptb-120">
                            <div class="col-md-6">
                                <div class="about-img3">
                                    <img src="~/Content/imagen/Screen-Shot-2018-04-26-at-3.17.28-PM.png" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-wrap3 about-wrap-2">
                                    <h2 class="animated swing">Vecindario Seguro</h2>
                                    <h3 class="animated bounceInRight">Sube fotos de tu pariente/amigo</h3>
                                    <p class="animated bounceInRight">Sube fotos de tu pariente o amigo y lo encontraremos por ti.Nuestra aplicacion realiza un análisis facial de alta precisión y detecta, analiza y compara rostros de fotos tomadas por nuestras camaras de seguridad para tener un reporte exitoso sobre las personas desaparecidas</p>

                                </div>
                            </div>
                        </div>
                        <div class="row revarce-wrap">
                            <div class="col-md-6">
                                <div class="about-wrap3 about-wrap-2">
                                    <h2 class="animated swing">Vecindario Seguro</h2>
                                    <h3 class="animated bounceInRight">Notificaciones </h3>
                                    <p class="animated bounceInRight">Nuestras camaras al conjunto de nuestra aplicacion estaran 24 horas al dia, 7 dias a la semana analizando y comparando informacion de todos los transeuntes, en el instante que encontremos a la persona que buscas, te notificaremos por medio de un correo electronico informandote el lugar,la hora, y el porcentaje de similitud </p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-img2" style="width:100%; height: 100px">
                                    <img src="~/Content/imagen/190506-face-recognition-small-crimes-main-kh_af209030008a39ab916bb89809b55c04.fit-760w.jpg" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ablout-area end -->
    <!-- jquery latest version -->
    <script src="~/Content/archirio/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- popper.min.js -->
    <script src="~/Content/archirio/assets/js/vendor/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/archirio/assets/js/bootstrap.min.js"></script>
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <script src="~/Content/archirio/assets/js/owl.carousel.min.js"></script>
    <!-- slick.min.js -->
    <script src="~/Content/archirio/assets/js/slick.min.js"></script>
    <!-- plugins js -->
    <script src="~/Content/archirio/assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/Content/archirio/assets/js/scripts.js"></script>

</body>

</html>