<br /><br />

      <center>
          <h2>Listo, hemos enviado las fotos a nuestra base de datos</h2>
          <h3>Le informaremos por correo electronico cuando nuestras camaras capten la persona que esta buscando</h3>
      </center>