@model PersonasPerdidas.Models.Camara

@{
    ViewBag.Title = "Delete";
}
    <center>
        <h2>Borrar foto</h2>
        <hr />
        <h3>Estas seguro de que quieres eliminar esta foto?</h3>
        <hr />
        @using (Html.BeginForm("Details", "Camaras", new { rol = ViewBag.Rol, Usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
    <div>


        <dl class="dl-horizontal">


            <dd>
                <center>
                    <img width="400" src="@Url.Action("getImage", "Camaras", new {id=Model.id_foto })" />
                </center>
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br /><br />
            <div class="btn-group" role="group" aria-label="Basic example">


                <input type="submit" value="Boton" class="btn btn-default" /> |
                <button type="button" class="btn btn-secondary" style="float:right">

                        @Html.ActionLink("Volver ", "Index", "Camaras", new { rol = ViewBag.Rol, usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)
                    </button>
                    <br /> <br /> <br />
                </div>

                }
            </div>
        }
</center>