<br />
<br />
<center><h3 style="font-family: 'Times New Roman', Times, serif">Vecindario Seguro</h3></center>
<br />
<br />

<center><h2 style="font-weight: bold">FOTO ENVIADA DESDE CAMARA</h2></center>
<br />
<br />
<center><h3 style="font-family: 'Times New Roman', Times, serif">Vecindario Seguro</h3></center>
<br />
<br />