
@font-face {
    font-family: 'Raleway-Regular';
    src: url('Fuentes/Raleway-Regular.ttf') format('truetype');
}


#particles-js {
    width: 100%;
    background: url('imagen/2maxresdefault.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
.ancho-letras {
    top: 300px;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.letras-slider {
    width: 80%;
    margin:auto;
}
    .letras-slider h1 {
        color: #fff;
        font-family: Raleway-Regular;
        font-size: 70px;
        font-weight: bold;
    }
    .letras-slider p {
        color: #fff;
        font-family: Raleway-Regular;
        font-size: 40px;
        padding-top: 30px;
        font-weight: bold;
    }


